<footer class="bg-dark text-white grid-spaceAround text-center-tablet">
  <div class="col-3_sm-12 pad-all-xs margin-top-xs">
    <h3>Address</h3>
    <p>
      25/1 Moo 6, Tambon Suthep<br />
      Chiang Mai, Thailand<br />
      50200
    </p>
  </div>
  <div class="col-6_sm-12 pad-all-xs text-right text-center-tablet">
    <a href="/"><p>Home</p></a>
    <a href="#" class="snipcart-checkout"><p>Shopping Cart</p></a>
    <a href="/faq"><p>Frequently Asked Questions</p></a>
    <a href="/privacy"><p>Privacy Policy</p></a>
    <a href="/contact"><p>Contact</p></a>
  </div>
  <div class="col-12 pad-all-xs margin-bottom-xs text-center">
    <h4><i class="fa fa-copyright" aria-hidden="true"></i> Wisamun Sitthiket - designed by <a href="http://cnxweb.site" target=blank>CNX Web</a> <script type="text/javascript">
  document.write(new Date().getFullYear());</script></h4>
  </div>
</footer>
