<header class="grid-spaceBetween margin-left-xs pad-left-xs">
  <ul class="col-3_sm-6">
    <li class="logo">
      <a href="/">Wisamun<br />Sitthiket</a>
    </li>
  </ul>
  <nav class="col-4_md-5_sm-6">
    <div class="grid-spaceBetween nav-links">
      <a href="/about"><p>About</p></a>
      <a href="/news"><p>News</p></a>
      <a href="/contact"><p>Contact</p></a>
      <a><p><i class="fa fa-shopping-cart" aria-hidden="true"></i></p></a>
      <a href="https://www.facebook.com/wisamunsitthiket/" target=blank><p><i class="fa fa-facebook-square" aria-hidden="true"></i></p></a>
      <a href="https://www.instagram.com/wisamun/" target=blank><p><i class="fa fa-instagram" aria-hidden="true"></i></p></a>
      <a href="https://twitter.com/WisamunS" target=blank><p><i class="fa fa-twitter" aria-hidden="true"></i></p></a>
    </div>
    <div class="nav-mobile-container">
      <div class="toggle-mobile-menu">
        <p><i class="fa fa-bars" aria-hidden="true"></i> Menu</p>
      </div>
    </div>
  </nav>
</header>
<!-- mobile nav -->
<div id="mobile-menu" class="grid-middle">
  <div class="pad-top-m">
    <a href="#" class="col-12 toggle-mobile-menu">
      <i class="fa fa-times text-white" aria-hidden="true"></i>
    </a>
  </div>
  <a href="/about"><p>About</p></a>
  <a href="/news"><p>News</p></a>
  <a href="/contact"><p>Contact</p></a>
  <a href=""><p>Shopping Cart</p></a>
  <div class="grid-center">
    <a href="https://www.facebook.com/wisamunsitthiket/" target=blank class="col-1"><p><i class="fa fa-facebook-square" aria-hidden="true"></i></p></a>
    <a href="https://www.instagram.com/wisamun/" target=blank class="col-1"><p><i class="fa fa-instagram" aria-hidden="true"></i></p></a>
    <a href="https://twitter.com/WisamunS" target=blank class="col-1"><p><i class="fa fa-twitter" aria-hidden="true"></i></p></a>
  </div>
</div>
