<header class="grid-middle-spaceBetween margin-left-xs pad-left-xs">
  <ul class="col-3">
    <li class="logo margin-all-s">
      <a href="/">Wisamun<br />Sitthiket</a>
    </li>
  </ul>
  <nav class="col-4">
    <div class="grid-spaceBetween nav-links">
      <a href="/about"><p>About</p></a>
      <a href="/news"><p>News</p></a>
      <a href="/contact"><p>Contact</p></a>
      <a><p><i class="fa fa-shopping-cart" aria-hidden="true"></i></p></a>
      <a href="https://www.facebook.com/wisamunsitthiket/" target=blank><p><i class="fa fa-facebook-square" aria-hidden="true"></i></p></a>
      <a href="https://www.instagram.com/wisamun/" target=blank><p><i class="fa fa-instagram" aria-hidden="true"></i></p></a>
      <a href="https://twitter.com/WisamunS" target=blank><p><i class="fa fa-twitter" aria-hidden="true"></i></p></a>
    </div>
  </nav>
</header>
