<div class="outline-black-thin">
  <h6 class="grid-spaceAround">Share this on &rarr;
    <a class="share-hover" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftiny-hare.cloudvent.net&quote=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;">Facebook</a>
    <a class="share-hover" href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ftiny-hare.cloudvent.net&text=:%20http%3A%2F%2Ftiny-hare.cloudvent.net&via=cnxweb" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;">Twitter</a>
    <a class="share-hover" href="https://plus.google.com/share?url=http%3A%2F%2Ftiny-hare.cloudvent.net" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;">Google+</a>
    <a class="share-hover" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ftiny-hare.cloudvent.net&title=&summary=&source=http%3A%2F%2Ftiny-hare.cloudvent.net" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">LinkedIn</a>
  </h6>
</div>
<!-- need to replace "tiny-hare.cloudvent.net" with live url -->
