---
title: this is an example title
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
image:
alt:
photoid:
date:
author:
tags:
keywords:
published: true
layout: home
_hide_content: true
---

  <div class="wrapper">
    <div class="grid-spaceAround">
      <div class="col-6_md-12">
        <div class="bg-white text-center shadow">
          <a id="{{page.photoid}}" class="click-full-screen">
            <img src="{{page.image}}" alt="wisamun sitthiket - photography artwork - {{page.tags}}"/>
          </a>
        </div>
      </div>
      <div class="col-5_md-12">
        <h1>{{page.title}}</h1>
        <h3 class="pad-top-s">Starting at $549.00 (includes free shpping)</h3>
        <p>{{page.description}}</p>
        <p class="pad-top-xs">All limited edition prints are printed on Ilford Fine Art Smooth 200gsm paper and hand-signed by the artist.</p>
        <p class="pad-bottom-m">Prints come in two sizes: 13 x 19 inches or 16.5 x 23.4 inches.</p>
        <div class="margin-bottom-s">
          <a href="/contact"><button class="button-main">Contact to Buy</button></a>
          <!-- <a><button class="button-main snipcart-add-item"
    data-item-id="{{page.photoid}}"
    data-item-name="{{page.title}}"
    data-item-price="549.00"
    data-item-weight="1 kg"
    data-item-url="{{page.url}}"
    data-item-description="{{page.description}}<br /><br />All limited edition prints are printed on Ilford Fine Art Smooth 200gsm paper and hand-signed by the artist."
    data-item-image="{{page.image}}"
    data-item-custom1-name="Size"
    data-item-custom1-options="13 x 19 in.|16.5 x 23.4 in.[+50]"
    data-item-custom1-value="13 x 19 in."
    data-item-custom1-required="true">Add to cart</button></a> -->
        </div>
        {% include share-module.html%}
      </div>
    </div>
  </div>
<!-- popup modal not shown by default -->
<div id="{{page.photoid}}Modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img src="{{page.image}}" alt="wisamun sitthiket - photography artwork - {{page.tags}}" class="full-screen-image"/>
    <div class="grid-center">
      <div class="col-6 grid-middle-center-spaceAround full-screen-info">
        <h5 class="col-12 text-white pad-top-xs">{{page.title}}</h5>
      </div>
    </div>
  </div>
</div>
