---
title: this is an example title
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
_image:
alt:
photo-id:
price:
weight:
date:
author:
tags:
  - tag number one
  - tag number two
  - tag number three
keywords:
published: true
layout: home
---
<section>
  <div class="wrapper">
    <div class="grid-spaceAround">
      <div class="col-6_md-12">
        <div class="bg-white text-center shadow">
          <a id="{{page.photoid}}" class="click-full-screen">
            <img class="pad-top-xs" src="{{page._image}}" alt="{{page.alt}}"/>
          </a>
        </div>
      </div>
      <div class="col-5_md-12 pad-bottom-m">
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
        <!-- <p>Uploaded on {{page.date | date: "%b %-d, %Y"}}</p> -->
        <p class="pad-top-xs">All limited edition prints are printed on blah-blah Xmm fine-art paper and hand-signed by the artist.</p>
        <p class="pad-bottom-m">Prints come in two sizes, ____ x ____, or ____ x _____.</p>
        <div class="margin-bottom-s">
          <a><button class="button-main snipcart-add-item"
    data-item-id="{{page.photoid}}"
    data-item-name="{{page.title}}"
    data-item-price="{{page.price}}"
    data-item-weight="{{page.weight}}"
    data-item-url="{{page.url}}"
    data-item-description="{{page.description}}">Add to cart</button></a>
        </div>
        {% include share-module.html%}
      </div>
    </div>
  </div>
</section>
<!-- popup modal not shown by default -->
<div id="{{page.photoid}}Modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img src="{{page._image}}" alt="{{page.alt}}" class="full-screen-image"/>
    <div class="grid-center">
      <div class="col-6 grid-middle-center-spaceAround full-screen-info">
        <p class="col-12 text-white">{{page.title}}</p>
      </div>
    </div>
  </div>
</div>
