/* universal styles ----------------------------------------- */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* border: solid 0.25px powderblue; */
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #dfdad7;
}
/* layout ----------------------------------------- */
[class*=grid-],[class*=grid_],[class~=grid] {
  margin: 0;
  padding: 0;
}
.page {
  padding: 0 3% 0 3%;
}
/* typography ----------------------------------------- */
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 900;
  font-size: 2em;
  margin: 0;
}
h2,h3,h4,h5,h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
}
ul {
  line-height: 0;
  margin: 0;
}
li {
  line-height: 1;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
a:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}
.text-white {
  color: white;
}
.text-red {
  color: #cc0000;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
@media all and (max-width:768px) {
  .text-center-tablet {
    text-align: center;
  }
}
@media all and (max-width:576px) {
  .text-center-mobile {
    text-align: center;
  }
}

/* button styles ----------------------------------------- */
.button-main {
  font-family: 'Alegreya Sans SC', sans-serif;
	/* float:left; */
	width: 100%;
	border: 1px solid transparent;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size: 1.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  /* margin-top:-4px; */
  font-weight:300;
}
.button-main:hover{
	background-color: #fff;
	color: #000;
  border: 1px solid #000;
}
.button-small {
  font-family: 'Alegreya Sans SC', sans-serif;
	border: 1px solid transparent;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size: 1em;
	padding-top:0.5em;
	padding-bottom:0.5em;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.button-small:hover{
	background-color: #fff;
	color: #000;
  border: 1px solid #000;
}
.button-tiny {
  font-family: 'Alegreya Sans SC', sans-serif;
	border: 1px solid transparent;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size: 0.8em;
	padding-top:0.3em;
	padding-bottom:0.3em;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.button-tiny:hover{
	background-color: #fff;
	color: #000;
  border: 1px solid #000;
}

/* container styles ----------------------------------------- */
.bg-dark {
  background-color: #515352;
}
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}
.shadow {
  box-shadow: none 4px 18px rgba(0,0,0,0.25), none 4px 4px rgba(0,0,0,0.22);
}

/* header and nav styles ----------------------------------------- */
header {
  height: 25vh;
  background-color: #dfdad7;
  position: relative;
  z-index: 99;
}
.logo {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  margin: 5%;
}
.nav-links {
  margin-right: 12%;
}
.cart-icon-container {
  position: relative;
  top: 7px;
}
.summary-circle {
  position: relative;
  right: -8px;
  top: -26px;
  z-index: -1;
  height: 15px;
  width: 15px;
  background: #cc0000;
  border: solid 2px #cc0000;
  border-radius: 100%;
  color: white;
  font-size: 0.6em;
  text-align: center;
}
.side-nav-container {
  height: 60vh;
}
.tags-container {
  height: 40vh;
  overflow-y: scroll;
}
.side-nav-container-mobile {
  display: none;
}
.nav-mobile-container {
  display: none;
}
#mobile-tags-container {
  display: none;
}
@media all and (max-width:1024px) {
  header {
    height: 20vh;
  }
  .nav-links {
    margin-right: 9%;
  }
  .side-nav-container {
    width: 15vw;
    font-size: 0.8em;
  }
}
@media all and (max-width:768px) {
  header {
    height: 15vh;
  }
  .nav-links {
    margin-right: 7.5%;
  }
  .logo {
    margin: 5% 0;
    font-size: 2em;
  }
  .side-nav-container {
    display: none;
  }
  .side-nav-container-mobile {
    display: block;
    font-size: 0.8em;
    background-color: #dfdad7;
    position: relative;
    z-index: 99;
  }
  .nav-mobile-container {
    display: block;
    position: absolute;
    right: 20px;
  }
  .nav-links {
    display: none;
  }
  #mobile-tags-container {
    display: block;
    font-size: 0.8em;
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transitiion: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transitiion: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transitiion: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  }
}
@media all and (max-width:576px) {
  .logo {
    font-size: 1.5em;
  }
}
/*  MOBILE MENU */
#mobile-menu {
  background-color: black;
  background-color: rgba(0,0,0,0.95);
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}
#mobile-menu.mobile-menu-visible {
  display: block;
}
#mobile-menu a:hover {
  color: white;
  font-weight: bolder;
}
.black-label {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 1.5%;
  margin: 2%;
  text-transform: none;
  font-weight: 400;
}
a .black-label:hover {
  background-color: white;
  color: black;
  box-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  text-shadow: none;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.active-label {
  background-color: white;
  color: black;
  text-transform: none;
  display: inline-block;
  padding: 1.5%;
  margin: 2%;
}
a .active-label:hover {
  text-shadow: none;
  box-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.hide-up {
  transform: translateY(-550px);
  position: absolute;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
.flip {
  transform: rotate(180deg);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

/* footer styles ----------------------------------------- */
footer {
  position: relative;
  z-index: 99;
}
footer a:hover {
  text-decoration: underline;
}
@media all and (max-width:576px) {
  footer p {
    padding: 0 10%;
    font-size: 0.8em;
  }
}

/* homepage and post-list styles ----------------------------------------- */
.wrapper {
  width: 70vw;
  min-height: 75vh;
  position: relative;
  left: -11px;
}
/* masonry styles */
.masonry-layout {
  column-count: 3;
  column-gap: 0;
}
.masonry-container {
  break-inside: avoid;
}
.masonry-content {
  box-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 17%;
  padding: 10% 5% 5% 5%;
  text-align: center;
}
.masonry-content:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
@media all and (max-width:1024px) {
  /* .wrapper {
    top: -170px;
  } */
}
@media all and (max-width:768px) {
  .wrapper {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .masonry-layout {
    column-count: 2;
  }
}
@media all and (max-width:576px) {
  .masonry-layout {
    column-count: 1;
  }
}

.button-hidden {
  font-size: 1.5em;
  background: none;
  border: none;
  color: rgba(223,218,215,0.5);
}
.button-hidden:hover {
  /* display: inline-block; */
  color: black;
  text-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

/* * pop-up styles -----------------------------------------  */
/* modal container & overlay background */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: black;
  background-color: rgba(0,0,0,0.8);
}
/* show the modal when clicked */
.show {
  display: inline-block;
}
/* modal content */
.modal-content {
  max-width: 90vw;
  /* background-color: black;
  background-color: rgba(0,0,0,0.2); */
  text-align: center;
  margin: 2% auto;
  padding: 1%;
}
.full-screen-image {
  max-height: 85vh;
  width: auto;
  padding: 0;
}
.popup-description {
  font-size: 0.8em;
  text-transform: capitalize;
}
@media all and (max-width:768px) {
  /* .modal-content {
    margin: 20% auto;
    padding: 10% 5%;
  } */
  .full-screen-image {
    max-height: 80vh;
  }
}
@media all and (max-width:576px) {
  .full-screen-image {
    max-height: 85vh;
  }
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* post styles ----------------------------------------------------------- */
.outline-black-thin {
  border: solid black 1px;
  padding: 2%;
}

/* about styles ---------------------------------------------------------- */
/* .about-section {
  height: 72vh;
} */
.about-image {
  height: 450px;
  background-image: url('/images/wisamuninstudio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}
.vimeo-container {
  text-align: center !important;
}
.vimeo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.vimeo iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .vimeo {
  width: 1000px;
  height: 563px;
}
@media all and (max-width:1024px) {
  .vimeo {
    width: 800px;
    height: 450px;
  }
}
@media all and (max-width:768px) {
  .vimeo {
    width: 640px;
    height: 360px;
  }
}
@media all and (max-width:576px) {
  .vimeo {
    width: 390px;
    height: 219px;
  }
} */

/* news styles ----------------------------------------- */
.news-image-container {
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

/* contact styles ----------------------------------------- */
.feedback-input {
	color:#000;
  font-weight:300;
	font-size: 14px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fff;
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
  border: 0px solid transparent;
  border-bottom: 1px solid #000;
}
.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	color: #000;
	outline: none;
  padding: 13px 13px 13px 13px;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: none;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.button-contact {
  font-family: 'Alegreya Sans SC', sans-serif;
	float:left;
	width: 100%;
	border: 1px solid transparent;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size: 1.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transitiion: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.button-contact:hover{
	background-color: #fff;
	color: #000;
  border: 1px solid #000;
}

/* helpers ----------------------------------------- */

/* PADDING/MARGINS */
.container-center {
  margin: 0 auto !important;
}
/* .pad-box {
  padding: 2%;
} */
.pad-all-xs {
  padding: 1%;
}
.pad-all-s {
  padding: 5%;
}
.pad-all-m {
  padding: 10%;
}
.pad-all-l {
  padding: 20%;
}
.pad-top-xs {
  padding-top: 1%;
}
.pad-top-s {
  padding-top: 5%;
}
.pad-top-m {
  padding-top: 10%;
}
.pad-top-l {
  padding-top: 20%;
}
.pad-right-xs {
  padding-right: 1%;
}
.pad-right-s {
  padding-right: 5%;
}
.pad-right-m {
  padding-right: 10%;
}
.pad-right-l {
  padding-right: 20%;
}
.pad-bottom-xs {
  padding-bottom: 1%;
}
.pad-bottom-s {
  padding-bottom: 5%;
}
.pad-bottom-m {
  padding-bottom: 10%;
}
.pad-bottom-l {
  padding-bottom: 20%;
}
.pad-left-xs {
  padding-left: 1%;
}
.pad-left-s {
  padding-left: 5%;
}
.pad-left-m {
  padding-left: 10%;
}
.pad-left-l {
  padding-left: 20%;
}
.margin-all-xs {
  margin: 1%
}
.margin-all-s {
  margin: 5%
}
.margin-all-m {
  margin: 10%
}
.margin-all-l {
  margin: 20%
}
.margin-top-xs {
  margin-top: 1%
}
.margin-top-s {
  margin-top: 5%
}
.margin-top-m {
  margin-top: 10%
}
.margin-top-l {
  margin-top: 20%
}
.margin-right-xs {
  margin-right: 1%
}
.margin-right-s {
  margin-right: 5%
}
.margin-right-m {
  margin-right: 10%
}
.margin-right-l {
  margin-right: 20%
}
.margin-bottom-xs {
  margin-bottom: 1%
}
.margin-bottom-s {
  margin-bottom: 5%
}
.margin-bottom-m {
  margin-bottom: 10%
}
.margin-bottom-l {
  margin-bottom: 20%
}
.margin-left-xs {
  margin-left: 1%
}
.margin-left-s {
  margin-left: 5%
}
.margin-left-m {
  margin-left: 10%
}
.margin-left-l {
  margin-left: 20%
}
/* POSITION */
.position-rel {
  position: relative;
}
.position-abs {
  position: absolute;
}
